<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <div>-->
<!--        <label>Name</label>-->
<!--        <input type="text" name="name">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--        <label>Email</label>-->
<!--        <input type="email" name="email">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--        <label>Rank</label>-->
<!--        <input type="number" name="rank">-->
<!--    </div>-->
<!--    <br>-->
<!--    <div >-->
<!--        <label>username</label>-->
<!--        <input type="text" name="username">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>firstname</label>-->
<!--        <input type="text" name="firstname">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>lastname</label>-->
<!--        <input type="text" name="lastname">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>enrollment</label>-->
<!--        <input type="number" name="enrollment">-->
<!--    </div>-->

<!--    <div>-->
<!--        <label>div</label>-->
<!--        <input type="text" name="div">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>email</label>-->
<!--        <input type="email" name="email">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>contact</label>-->
<!--        <input type="number" name="contact">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>dob</label>-->
<!--        <input type="datetime-local" name="dob">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>address</label>-->
<!--        <input type="text" name="address">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>city</label>-->
<!--        <input type="text" name="city">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>pin</label>-->
<!--        <input type="number" name="pin">-->
<!--    </div>-->
<!--    <button type="submit">submit</button>-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--    <form action="" method="POST">-->
<!--    {% csrf_token %}-->

<!--        <div>-->
<!--            <label>article_title</label>-->
<!--            <input type="number" name="article_title">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>author_name</label>-->
<!--            <input type="text" name="author_name">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>company</label>-->
<!--            <input type="text" name="company">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>dateOfCreation</label>-->
<!--            <input type="date" name="dateOfCreation">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>email</label>-->
<!--            <input type="email" name="email">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>contact</label>-->
<!--            <input type="number" name="contact">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>city</label>-->
<!--            <input type="text" name="city">-->
<!--        </div>-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <label>Player_name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>dob</label>
        <input type="date" name="dob">
    </div>
    <div>
        <label>height</label>
        <input type="number" name="height">
    </div>
    <div>
        <label>weight</label>
        <input type="number" name="weight">
    </div>
    <div>
        <label>participation_date</label>
        <input type="date" name="participation_date">
    </div>
    <div>
        <label>collage</label>
        <input type="text" name="collage">
    </div>
    <div>
        <label>email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label>contact</label>
        <input type="number" name="contact">
    </div>
    <div>
        <label>city</label>
        <input type="text" name="city">
    </div>
    <button type="submit">Submit</button>

</form>
</body>
</html>