<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for message in messages %}
<div class="alert alert{{ message.tags }} alert-dismissble fade show" role="alert"></div>
<strong>message</strong>{{ message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
{% endfor %}

<form action="" method="post">
    {% csrf_token %}
    <div>
    <label>Username</label>
    <input type="text" name="username" required>
        </div>
    <div>
    <label>Firstname</label>
    <input type="text" name="firstname" required>
        </div>
    <div>
    <label>Lastname</label>
    <input type="text" name="lastname" required>
        </div>
    <div>
    <label>email</label>
    <input type="email" name="email" required>
        </div>
    <div>
    <label>password</label>
    <input type="password" name="password" required>
        </div>
    <div>
    <label> confirm password</label>
    <input type="password" name="confirm_password" required>
        </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>